/*En esta area define la imagen corespondiente para el fondo de pantalla, sin repetir, fija y el en centro*/
body{
    background: url(op.jpg) no-repeat fixed center center;
    background-size: cover;
}
/*En esta area centro todos los componente de la página*/
.centrar{
    text-align: center;
}